
<%= link_to 'Home', users_path %>
<%= javascript_tag do %>
window.max_loan = <%= @max_loan %>;
window.min_loan = <%= @min_loan %>;
window.max_tenure = <%= @max_tenure %>;
window.min_tenure = <%= @min_tenure %>;
window.show_loan_amount = <%= @user_detail.loan_amount %>
window.show_tenure = <%= @user_detail.tenure %>
<% end %>

<table width="90%" cellpadding="50" bgcolor="155d84">
  <tr>
    <th colspan="3" style="color:white; font-size:18px; padding-bottom:1px;">Select Loan Amount</th>
    <th colspan="3" style="color:white; font-size:18px; padding-bottom:1px;">Select Tenure</th>
  </tr>
  <tr>
  
  <td width="35%" style="
    padding-bottom: 1px;" bgcolor="#155d84" colspan="3">
    <div id="slider-range-max"></div>
    </td>
    
    <td width="35%" style="
    padding-bottom: 1px;" bgcolor="#155d84" colspan="3">
    <div id="slider-range-max-min"></div>
    </td>
  </tr>
  <tr>
  <td bgcolor="#155d84" width="5%" style="text-align:left; vertical-align:top; padding-top:0; color:white ">
  <%= @min_loan %>
  </td>
    <td style="text-align:center;" bgcolor="#155d84" width="30%" >
      <p>
  <input type="text" id="amount" readonly style="border:0; color:#155d84; font-weight:bold;  font-size:20px; padding:20px; padding-left:150px;">
</p>
    </td>
    <td bgcolor="#155d84" width="5%" style="text-align:right; vertical-align:top; padding-top:0; color:white "> 
  <%= @max_loan %>
  </td>
  <td bgcolor="#155d84" width="5%" style="text-align:left; vertical-align:top; padding-top:0; color:white ">
  <%= @min_tenure %>
  </td>
    <td style="text-align:center;" bgcolor="#155d84" width="30%"> 
        <p>
  <input type="text" id="amount_" readonly style="border:0; color:#155d84; font-weight:bold;  font-size:20px; padding:20px; padding-left:150px;" >
  </td>
    <td bgcolor="#155d84" width="5%" style="text-align:right; vertical-align:top; padding-top:0; color:white "> 
  <%= @max_tenure %>
  </td>
</p> 
    </td>
  </tr>
</table>

<%= hidden_field_tag :task_id, @display_details%>


<div id="table_for_bank"> 
<table cellpadding="10">
  <tr>
    <th>Bank</th>
    <th>Interest Rate</th>
    <th>Charges</th>
    <th>Emi</th>
  </tr>

  
  <% @display_details.each do |display_detail| %>
   <tr>
      <td>
     <%= image_tag "data:image/jpeg;base64,#{display_detail['bank_logo']}" %>
  </td>
      <td><%= display_detail["interest_rate"].round(2)%></td>
      <td><%= display_detail["processing_amount"] %></td>
      <td><%= display_detail["emi"].round(2) %></td>
    </tr>
    <% end %>
  </table>
  </div>
 
 <script>
  $(function() {
  
    $( "#slider-range-max" ).slider({
      range: "min",
      min: window.min_loan,
      max: window.max_loan,
      value: window.show_loan_amount,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });

    $( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );

    $("#slider-range-max").on("slidestop", function(event, ui) {
        var tenure = $("#amount_").val();
        var data = {"loan_amount": ui.value, "tenure":tenure} 
        $.ajax({
          type: 'POST',
          url: 'calculation.json',
          data: data,
          dataType: "json",
          success: function(data) {
              var innerHTMLString = '<table cellpadding="10" style="border-spacing: 10px 0;"><tr><th>Bank</th><th>Interest Rate</th><th>Charges</th><th>Emi</th></tr>'
              for(var i=0;i<data.length;i++){
                 var obj = data[i];
                 innerHTMLString += '<tr>'
                 for(var key in obj){
                   if (key == "bank_logo") {
                      innerHTMLString = innerHTMLString + '<td> <img src="data:image/jpeg;base64,' + obj[key] + '"</td>';
                   }
                   if (key == "interest_rate") {
                      innerHTMLString = innerHTMLString + '<td>' + obj[key] + '</td>';
                   }
                   if (key == "processing_amount") {
                      innerHTMLString = innerHTMLString + '<td>' + obj[key] + '</td>';
                   }
                   if (key == "emi") {
                      innerHTMLString = innerHTMLString + '<td>' +  Math.round(obj[key] * 100) / 100 + '</td></tr>';
                   }
                }
              }
              innerHTMLString += '</table>'
            
              $("#table_for_bank").html(innerHTMLString);
          }

        });
    });
  });
  </script>



<div id="slider-range-max-min"></div>
 
 <script>
  $(function() {
  
    $( "#slider-range-max-min" ).slider({
      range: "min",
      min: window.min_tenure,
      max: window.max_tenure,
      value: window.show_tenure,
      slide: function( event, ui ) {
        $( "#amount_" ).val( ui.value );
      }
    });
    $( "#amount_" ).val( $( "#slider-range-max-min" ).slider( "value" ) );

        $("#slider-range-max-min").on("slidestop", function(event, ui) {
        var loan_amount = $("#amount").val();
        var data = {"tenure": ui.value, "loan_amount": loan_amount} 
        console.log(data);
        $.ajax({
          type: 'POST',
          url: 'calculation.json',
          data: data,
          dataType: "json",
          success: function(data) {
              var innerHTMLString = '<table cellpadding="10" style="border-spacing: 10px 0;"><tr><th>Bank</th><th>Interest Rate</th><th>Charges</th><th>Emi</th></tr>'
              for(var i=0;i<data.length;i++){
                 var obj = data[i];
                 innerHTMLString += '<tr>'
                 for(var key in obj){
                   if (key == "bank_logo") {
                      innerHTMLString = innerHTMLString + '<td> <img src="data:image/jpeg;base64,' + obj[key] + '"</td>';
                   }
                   if (key == "interest_rate") {
                      innerHTMLString = innerHTMLString + '<td>' + obj[key] + '</td>';
                   }
                   if (key == "processing_amount") {
                      innerHTMLString = innerHTMLString + '<td>' + obj[key] + '</td>';
                   }
                   if (key == "emi") {
                      innerHTMLString = innerHTMLString + '<td>' +  Math.round(obj[key] * 100) / 100 + '</td></tr>';
                   }
                }
              }
              innerHTMLString += '</table>'
            
              $("#table_for_bank").html(innerHTMLString);
          }

        });
    });

  });
  </script>